.range {
  background: none;
  background-image: paint(confettiarea);
  --confettiColor: #4BB066;
  --confettiLimit: 500;
  --confettiSize: 5;
  --movement: 0;
}

.openness {
  background: none;
  background-image: paint(confettiarea);
  --confettiColor: #F5C300;
  --confettiLimit: 500;
  --confettiSize: 5;
  --movement: 0;
}

.conscienciousness {
  background: none;
  background-image: paint(confettiarea);
  --confettiColor: #EA4829;
  --confettiLimit: 500;
  --confettiSize: 5;
  --movement: 0;
}

.extraversion {
  background: none;
  background-image: paint(confettiarea);
  --confettiColor: #E1297D;
  --confettiLimit: 500;
  --confettiSize: 5;
  --movement: 0;
}

.agreeableness {
  background: none;
  background-image: paint(confettiarea);
  --confettiColor: #45BADE;
  --confettiLimit: 500;
  --confettiSize: 5;
  --movement: 0;
}
