.stripes {
    background-image: paint(stripes);
  --stripeColor:#E1297D;
  --stripeGap:6;
  --stripeWidth:2;
  width: 200px;
  height: 300px;
}

.range {
  background: none;
  background-image: paint(stripes);
  --stripeColor: #4BB066;
  --stripeGap:6;
  --stripeWidth:2;
}

.openness {
  background: none;
  background-image: paint(stripes);
  --stripeColor: #F5C300;
  --stripeGap:6;
  --stripeWidth:2;
}

.conscienciousness {
  background: none;
  background-image: paint(stripes);
  --stripeColor: #EA4829;
  --stripeGap:6;
  --stripeWidth:2;
}

.extraversion {
  background: none;
  background-image: paint(stripes);
  --stripeColor: #E1297D;
  --stripeGap:6;
  --stripeWidth:2;
}

.agreeableness {
  background: none;
  background-image: paint(stripes);
  --stripeColor: #45BADE;
  --stripeGap:6;
  --stripeWidth:2;
}
