.coldplay {
  padding: 0;
  margin: 0;
  background-color: #F1E7DE;
  /* #F5F8FA; #33729b; #9f805e; */
  /*    font-family: 'Open Sans', sans-serif;*/
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-family: 'Questrial', sans-serif; */
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #0D0A09;
}

.subtitle {
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #9B9B9B;
}

.banner {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  min-height: 50px;
  width: 100%;
}

.pic {}

.dataArea {}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1100px;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.infoArea {
  height: calc(100% - 160px);
  width: 100%;
}

.chris {
  height: 100%;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
}

.column {
  margin: 10px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  align-content: center;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datalabel {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: flex;
  min-height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.datavalue {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  font-weight: bold;
}

.bar {
  margin: 1px;
  height: 100%;
  flex-grow: 1;
  width: 100%;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
}

.measurement {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.margin {
  width: 20%;
  height: 100%;
}

.whitespace {}

.filledspace {}

.range {
  background: #4BB066;
}

.openness {
  background: #F5C300;
}

.conscienciousness {
  background: #EA4829;
}

.extraversion {
  background: #E1297D;
}

.agreeableness {
  background: #45BADE;
}

.anchor {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  align-items: center;
  align-content: center;
}

.albumname {
  padding-right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #EA4829;
  text-transform: uppercase;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.milestone {
  list-style: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.milestonedot {
  width: 20px;
  height: 20;
  border-radius: 20px;
  background: #D8D8D8;
  display: flex;
  margin: 20px;
}

.milestoneyear {
  font-weight: bold;
  font-size: 20px;
}

.milestonealbum {
  text-transform: uppercase;
  margin-top: 20;
  font-size: 14px;
}

.albumpicker {
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #EA4829;
  background: #f6f0eb;
  min-width: 250px;
  text-align: right;
  height: 30px;
  font-weight: bold;
}

.pickerlabel{
  font-size: 18px;
}
