.bar {
  background-image: paint(confettiarea);
  --confettiColor: #E1297D;
  --confettiLimit: 0;
  --confettiSize: 6;
  --movement: 0;
  width: 700px;
  height: 300px;
  margin-top:1px;
  margin: 20px;
  border:1px solid #ddd;
}

#canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
  border:1px solid #ddd;
}

#controls {
  text-align: center;
}

#start_button, #stop_button {
  font-size: 16pt;
}

#msg {
  text-align: center;
}

.container{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 50px;
}
